* {
	font-family: 'Orbitron', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* @font-face{
 font-family: 'Orbitron', sans-serif;
} */

#Matrix {
	z-index: -1;
}

.innerDiv {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}

.topbar {
	background-color: rgb(0,0,0,0.75);
	margin-top: 4px;
	text-align: center;
	color: #fff;
	font-size: x-large;
}

.navbar {
	background-color: rgb(0,0,0,0.75);
}

.navbar-nav{
	margin-top: 4px;
}

.form-check{
	margin: 2px;
	margin-top: 8px;
	width: fit-content;
	margin-left: auto;
}

.navbar-nav > button{
	background-color: rgb(0,0,0,0);
  margin: 2px;
	width: fit-content;
	margin-left: auto;
}

.container-fluid > span{
  margin-left:2px;
  margin-right:auto;
	margin-top: 3px;
}

.arrayGen{
	background-color: rgb(0,0,0,0);
	display: block;
	width: 175px;
	padding: 7px;
	margin: 5px;
}

.box {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 350px;
    justify-content: center;
    transition: 2s all ease;
}

.box-item {
	background: cyan;
	border-radius: 2px;
	border: 1pt solid black;
	width: 20px;
	transition: 0.1s all ease;
}
