* {
	font-family: 'Orbitron', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#Matrix {
	z-index: -1;
}

input[type="range"]{
	-webkit-appearance: none;
	margin-top: 8px;
	width: 10rem;
  height: 10px;
	/* border: 2px solid grey; */
  border-radius: 5px;
  background-color: #d3d3d3;
	background-image: linear-gradient(90deg, magenta var(--percentage), transparent var(--percentage));
}

input[type="range"]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
	border: 2px solid grey;
  background: cyan;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
	width: 15px;
  height: 15px;
  border-radius: 50%;
	border: 2px solid grey;
  background: cyan;
  cursor: pointer;
}


.innerDiv {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}

.topbar {
	background-color: rgb(0,0,0,0.75);
	margin-top: 4px;
	text-align: center;
	color: #fff;
	font-size: x-large;
}

.navbar {
	background-color: rgb(0,0,0,0.75);
}

.navbar-nav{
	margin-top: 4px;
}

.form-check{
	margin: 2px;
	margin-top: 10px;
	width: fit-content;
	margin-left: auto;
}

.form-switch .form-check-input:focus{
	border-color: magenta !important;
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='cyan'/></svg>");
}

.form-switch .form-check-input:checked{
	background-color: magenta !important;
	border-color: cyan !important;
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='cyan'/></svg>");
}

.navbar-nav > button{
	background-color: rgb(0,0,0,0);
  margin: 2px;
	width: fit-content;
	margin-left: auto;
}

.container-fluid > span{
  margin-left:2px;
  margin-right:auto;
	margin-top: 3px;
}

.btn{
	background-color: rgb(0,0,0,0);
	border-color: magenta;
	color: white;
	display: block;
	width: 175px;
	padding: 7px;
	margin: 5px;
}

.btn:hover{
	background-color: magenta !important;
}

.parWarn {
	color: red;
	text-align: right;
	margin: 5px;
	margin-right: 20px;
	display: none;
}

.box {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 350px;
    justify-content: center;
    transition: 2s all ease;
}

.box-item {
	background: cyan;
	border-radius: 2px;
	border: 1pt solid black;
	width: 20px;
	transition: 0.1s all ease;
}
